.header__link {
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  transition: opacity .7s ease;
}

.header__link:hover {
  opacity: .6;
}