.profile {
    max-width: 880px;
    margin: 0 auto;
    padding: 40px 0 50px;
    display: grid;
    grid-template-columns: repeat(2, min-content) 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-items: end;
}

@media screen and (max-width: 1023px) {
    .profile {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        padding: 42px 19px 36px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, min-content) 1fr;
        grid-gap: 0;
        justify-items: center;
    }
}