.profile__info {
    max-width: 336px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: max-content min-content;
    grid-template-rows: min-content min-content;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    align-items: center;
    grid-column: 2;
}

@media screen and (max-width: 767px) {
    .profile__info {
        padding-top: 26px;
        padding-bottom: 36px;
        grid-column-gap: 10px;
        grid-row-gap: 14px;
        justify-items: center;
        grid-column: 1;
        grid-row: 2;
    }
}