.popup__button_submit {
    width: 358px;
    height: 50px;
    margin: 48px 0 0;
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    transition: opacity .7s ease;
}
  
.popup__button_submit:disabled {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.popup__button_submit:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .popup__button_submit {
        width: 238px;
        height: 46px;
        margin-top: 45px;
        font-size: 14px;
        line-height: 17px;
    }
}